<div id="datom-box-template" class="box datom-box" selected="false" style="top: 60px;left: 60px;width: 256px;height: 230px;">
  <div class="datom-box-header box-header" hidden>
    <img onclick="openEditorModal(this)" src="img/coding.png" class="datom-icon">
    <img onclick="openEditorModal(this)" src="img/move_icon.png" class="datom-icon">
    <img onclick="openEditorModal(this)" src="img/duplicate_icon.png" class="datom-icon">
  </div>
  <div id="datom-box-content" class="datom-box-body box-body">
    <canvas class="datom-chart"></canvas>
  </div>
</div>
