<div id="datom-box-1" class="box datom-box" onclick="selectContainer(this)" selected="true" style="top: 176px; left: 40px; width: 221px; height: 287px;">
  <div class="datom-box-header box-header" style="visibility: visible;">
    <div class="box-icons">
      <img onclick="openEditorModal(this)" src="img/settings_icon.png" class="datom-icon">
      <img onclick="openEditorModal(this)" src="img/coding.png" class="datom-icon">
      <img onclick="openEditorModal(this)" src="img/move_icon.png" class="datom-icon">
      <img onclick="openEditorModal(this)" src="img/duplicate_icon.png" class="datom-icon">
    </div>
  </div>
  <div id="datom-box-content" class="datom-box-body box-body"><div class="booyah">
    <div>
        <h4>One fine day</h4>
        <p>
        One fine day, in the middle of the night<br>
        I was dying for a shi**e <br>
        </p>
    </div>
    <div>
        <button id="flushButton">Toilet Flush</button>
    </div>
</div>










</div>
</div>
<div id="datom-box-2" class="box datom-box" onclick="selectContainer(this)" selected="false" style="top: 218px; left: 300px; width: 326px; height: 301px;">
  <div class="datom-box-header box-header" style="visibility: hidden;">
    <div class="box-icons">
      <img onclick="openEditorModal(this)" src="img/settings_icon.png" class="datom-icon">
      <img onclick="openEditorModal(this)" src="img/coding.png" class="datom-icon">
      <img onclick="openEditorModal(this)" src="img/move_icon.png" class="datom-icon">
      <img onclick="openEditorModal(this)" src="img/duplicate_icon.png" class="datom-icon">
    </div>
  </div>
  <div id="datom-box-content" class="datom-box-body box-body" style="background-image: none; position: relative; background-size: 1000px 1200px;"><button id="weenusButton">Weenus






</button></div>
</div>
<div id="datom-box-3" class="box datom-box" onclick="selectContainer(this)" selected="false" style="top: 50px; left: 710px; width: 44.7%; height: 79.7%;">
  <div class="datom-box-header box-header" style="visibility: hidden;">
    <div class="box-icons">
      <img onclick="openEditorModal(this)" src="img/settings_icon.png" class="datom-icon">
      <img onclick="openEditorModal(this)" src="img/coding.png" class="datom-icon">
      <img onclick="openEditorModal(this)" src="img/move_icon.png" class="datom-icon">
      <img onclick="openEditorModal(this)" src="img/duplicate_icon.png" class="datom-icon">
    </div>
  </div>
  <div id="datom-box-content" class="datom-box-body box-body"><div class="booyah">
    <div>
        <h4>I was walking</h4>
        <p>I was roading down the walk one day</p>
        <p>and a wee black bark came out and dogged at me.</p>
        <p>So I put the pocket into the hand,</p>
        <p>I pulled out the tail</p>
        <p>And cut the knife clean off it!</p>
    </div>
    <div>
        <button id="doggyButton">!!!DOGGY!!!</button>
    </div>
</div>










</div>
</div>
