@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  0%, 100% { transform: translateX(0); }
  50% { transform: translateY(-20px); }
  50% { transform: translateX(-20px); }
}

.bouncing-div {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  animation: bounce 0.4s infinite;
}




