body
{
   font-size: 1em !important;
   font-family: Verdana, sans-serif !important;
   height: 100vh;
   width: 100vw;
   padding: 0;
   margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.datom-header{
  position: fixed;
  padding: 10px;
  margin-top: 10px;
  margin-left: 14px;
  border-radius: 22px;
  z-index: 2;
  border: 1px solid #868686;
  background-color: #6c6c6c;
  box-shadow: 0px 14px 22px -12px black;
}

#datom-container{
  background-color: #d9d9d9;
  height: 100%;
  width: 100%;
  position: fixed;
}

/*#datom-grid-container{
  width: 100%;
  height: 100%;
  background-color: orange;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border:2px solid red;
  position: absolute;
}*/

#datom-grid-container {
  height: 100%;
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.highlight {
  z-index: 1;
}

.highlight:hover{
  border: 1px dashed blue;
  background: #0000FF44;
  display:block;
}

.datom-grid-box{
  z-index:1;
  background-color: #d2f4ff;
  box-shadow: -4px 4px 6px -3px #5d5d5d;
}

.datom-box {
  min-width: 150px;
  z-index: 1;
  text-align: center;
  background-color: #fff;
  box-shadow: -4px 4px 3px -2px #909090;
  position: absolute;
}

.datom-box[selected="true"]{
  z-index: 10;
  resize: both;
  position: absolute;
  overflow: auto;
  outline: none;
}

.datom-box[selected="false"]{
  z-index: 1;
}

.datom-box-header{
  width:100%;
  min-height: 40px;
  display:flex;
  align-items: center;
}

.dragging{
  cursor: move !important;
}

.datom-box-body{
  width:100%;
  height:100%;
}

.box-body {
  padding: 15px;
  height: 100%;
}

.custom-input{
  font-size: 14px;
  border-radius: 5px;
  padding: 3px;
}

.custom-input:hover{
  background-color: #4588ff;
  color:white;
}

#editor {
    position: absolute;
    width: 96%;
    height: 80%;
}

#editorModal{
  width: 70%;
  height: 60%;
  min-height: 360px;
  border-radius: 11px;
  box-shadow: 0px 0px 4px 0px black;
  border: none;
}

#editorModal .ace_editor{
  position: absolute;
  width: 95%;
  height: -webkit-fill-available;
  margin-bottom: 7px;
  margin-top: 7px;
  border-radius: 6px;
  font-family: monospace !important;
  direction:ltr !important;
  text-align:left !important;
}

.lang_icons{
  display:flex;
  width: 13%;
  padding: 3px;
}

.lang_icon{
  height: 25px;
  width: 25px;
  margin:auto;
  outline: 1px solid black;
  padding: 3px;
  border-radius: 3px;
  background-color: #d4e3fa;
}

.lang_icon:hover{
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-bottom: -5px;
}

.lang_icon:active {
  background: #e5e5e5;
  height: 24px;
  width: 24px;
  margin-bottom: 1px;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 6px -1px #000000;
}

.box-icons {
    display: flex;
    width: 26px;
    height: 40px;
    overflow: hidden;
    flex-direction: row;
    margin-top: 3px;
    margin-left: 1px;
    align-items: center;
    justify-content: space-between;
    transition: width 0.3s;
    -webkit-transition: width 0.3s;
    overflow: hidden;
    transition: 0.3s;
    transition-delay: 20ms;
}

.box-icons img{
  height: 24px;
  border-radius: 50%;
  margin-left: 2px;
}

.box-icons img:hover{
  cursor:pointer;
  box-shadow: 0px 0px 1px 0px black;
  padding:0px;
}

.box-icons:has(img:hover){
  width:105px;
}
