<div id="datom-box-template" class="box datom-box" onclick="selectContainer(this)" selected="false" style="top: 80px;left: 80px;width: 256px;height: 230px;">
  <div class="datom-box-header box-header" style="visibility:hidden;">
    <div class="box-icons">
      <img onclick="openEditorModal(this)" src="img/settings_icon.png" class="datom-icon">
      <img onclick="openEditorModal(this)" src="img/coding.png" class="datom-icon">
      <img onclick="openEditorModal(this)" src="img/move_icon.png" class="datom-icon">
      <img onclick="openEditorModal(this)" src="img/duplicate_icon.png" class="datom-icon">
    </div>
  </div>
  <div id="datom-box-content" class="datom-box-body box-body">
    <canvas class="datom-chart"></canvas>
  </div>
</div>
